<div class="reg-form" id='change_pass'>
<%= error_messages_for :customer %>
	<% if flash[:notice].blank? == false %>
		<div class='notice'><%= flash[:notice] %></div>
	<% end %>
<h1>Change Password: </h1>
	
    <%= form_for(@customer, :url => change_password_customer_url(@customer)) do  |f| %>
	   <table id='login_table' >
	   	  <tr>
		     <td>Old password :</td>
		     <td><%= f.password_field(:old_pass) %> </td> 
		  </tr>
		  <tr>
			<td>New password :</td>
			<td><%= f.password_field(:new_pass) %> </td>	
		  </tr>
			<tr>
				<td>Confirm :</td>
				<td><%= f.password_field(:new_pass_confirm) %> </td>	
			</tr>
		  <tr >
			<td colspan='2' align="right" ><%= submit_tag("Update") %> or <%=link_to("Cancel",customer_todo_lists_url(@customer))%></td>
		  </tr>

	   </table>


	<% end %>
</div>